<a href="https://colab.research.google.com/github/PravalikaNamp/Pravalika/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
a+b+c

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x=12
y=2.5
z='pravalika'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
addition=num1+num2
print("addition:",addition)
subtraction=num1-num2
print("subtraction:",subtraction)
multiplication=num1*num2
print("multiplication:",multiplication)
division=num1/num2
print("division:",division)

Enter the first number:4
Enter the second number:2
addition: 6
subtraction: 2
multiplication: 8
division: 2.0

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
string1='123'
string2=1.25
print(type(string1))
print(type(string2))

<class 'str'>
<class 'float'>

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
user_string=input("Enter a string:")
print("First Character:",user_string[0])

Enter a string:pravalika
First Character: p

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
user_string=input("Enter a string")
print("string_length:",len(user_string))

Enter a stringprava
string_length: 5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
def check_alphabets(input_string):
    return input_string.isalpha()

input_string = input("enter a string:")
if check_alphabets(input_string):
  print(" the string contains only alphabets.")
else:
  print("the string is non-alphabet character.")

enter a string:hello
 the string contains only alphabets.

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
str1=input("Enter first string:")
str2=input("Enter second string:")
result =str1 + str2
print("concatenated String:",result)

Enter first string:hello
Enter second string:world
concatenated String: helloworld

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
string=input("enter a string:")
index=string.find("abc")
if index !=-1:
  print("Index Of 'abc':",index)
else:
    print("'abc' not found in the string")

enter a string:prava
'abc' not found in the string

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
string=input("enter a string:")
uppercase=string.upper()
lowercase=string.lower()

print("uppercase:",uppercase)
print("lowercase:",lowercase)

enter a string:hello
uppercase: HELLO
lowercase: hello

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
string=input("enter a string:")
char=input("enter a character:")
count=string.count(char)
print("The character '{}' appers {} times in the string.".format(char,count))

enter a string:hello
enter a character:h
The character 'h' appers 1 times in the string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name=input("enter your name:")
print("hello,"+name+",good morning!")

enter your name:pravalika
hello,pravalika,good morning!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num1=int(input("Enter the number"))
num2=int(input("Enter the number"))
sum=num1+num2
print("sum:",sum)

Enter the number7
Enter the number9
sum: 16

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("enter a name:")
age=int(input("enter a age:"))
print("your name is {} and you are {} years old.". format(name,age))

enter a name:prava
enter a age:20
your name is prava and you are 20 years old.

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num=int(input("enter the number:"))
if num > 0:
  print("The number is positive.")
elif num < 0:
      print("The number is negative.")
else:
  print("The number is zero.")

enter the number:46
The number is positive.

In [62]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
num3=int(input("enter third number:"))
max_num = (num1, num2, num3)
print("Maximum number is:",max_num)

enter first number:6
enter second number:7
enter third number:8
Maximum number is: (6, 7, 8)

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year=int(input("enter the year:"))
if year % 4==0 and(year%  100!=0 or year % 400 == 0):
     print(f"{year} is a leap year.")
else:
  print(f"{year} is not a leap year.")

enter the year:2008
2008 is a leap year.

In [61]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
num= int(input("enter a number:"))
if num%3 == 0 and num % 5 == 0:
  print(f"{num} is divisible by both 2 and 5.")
else:
    print(f"{num} is not divisible by both 2 and 5.")

enter a number:46
46 is not divisible by both 2 and 5.

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
string=input("enter a string:")
if string ==string[::-1]:
     print("The string is palindrome:")
else:
     print("The string is not apalindrome:")

enter a string:madam
the string is palindrome:

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num=int(input("enter a number:"))
for i in range(1, 11):
   print(f"{num} X {i} = {num* i}")

enter a number:5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n=int(input("enter a number:"))
sum = 0
i = 1
while i<=n:
  sum += i
  i +=1
  print("The sum of all numbers from 1 to ",n,"is:,sum")

enter a number:5
The sum of all numbers from 1 to  5 is:,sum
The sum of all numbers from 1 to  5 is:,sum
The sum of all numbers from 1 to  5 is:,sum
The sum of all numbers from 1 to  5 is:,sum
The sum of all numbers from 1 to  5 is:,sum

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num=int(input("enter the number:"))
factorial = 1
i = 1
while i<= num:
  factorial *= i
  i += 1
  print(" The factorial of", num, "is:",factorial)

enter the number:4
 The factorial of 4 is: 1
 The factorial of 4 is: 2
 The factorial of 4 is: 6
 The factorial of 4 is: 24

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("enter the number:"))
a , b =0, 1
i = 1
while i<=n:
  print(a,end=" ")
  a , b = b, a+b
  i += 1

enter the number:6
0 1 1 2 3 5

In [ ]:
# Write a Python program to find all the prime numbers from 1 to100.

for num in range(1, 101):
  if num > 1:
    for i in range(2, num):
      if (num % i) == 0:
       break
else:
   print(num)

100

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for num in range(1,21):
  if num % 2 !=0:
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
num=int(input("enter a number:"))
sum_of_digits = 0

while num:
  digit=num % 10
  sum_of_digits += digit

enter a number:4

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
numbers = [1,2,3,4,5]
sum_of_elements = sum(numbers)
print("sum of elements:",sum_of_elements)

sum of elements: 15

In [ ]:
# Write a Python program to find the largest element in a list.
numbers= [12, 45, 7, 23, 56, 89, 34]
largest_element = max(numbers)
print("Largest element:",largest_element)

Largest element: 89

In [ ]:
# Write a Python program to reverse a list.
numbers = [1, 2, 3, 4, 5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [1, 2, 3, 4, 5, 2, 2, 2, 6, 2]
element_to_remove = 2
numbers = [num for num in numbers if
num != element_to_remove]
print(numbers)

[1, 3, 4, 5, 6]

In [ ]:
# Write a Python program to find the index of an element in a list.
numbers = [1, 2, 3, 4, 5]
element_to_find =3
index = numbers.index(element_to_find)
print("Index of", element_to_find,"is:",index)

Index of 3 is: 2

In [ ]:
# Write a Python program to find if a specific element exists in a list.
numbers = [1, 2, 3, 4, 5]
element_to_find =3
if element_to_find in numbers:
  print(element_to_find,"exists in the list")
else:
  print(element_to_find,"does not exist in the list")

3 exists in the list

In [ ]:
# Write a Python program to remove duplicates from a list.
numbers = [1, 2, 3, 4, 5, 6, 6, 7]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
numbers = [1, 2, 3, 4, 5]
element_to_count = 2
count = numbers.count(element_to_count)
print("The element",element_to_count,"occur",count,"times in the list")

The element 2 occur 1 times in the list

In [ ]:
# Write a Python program to get the number of even numbers in a list.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = len([num for num in numbers
if num % 2 == 0])
print("number of even numbers:",even_count)

number of even numbers: 5

In [ ]:
# Write a Python program to create a tuple and print it.
my_tuple =(1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
my_tuple = [1, 2, 3, 4, 5]

max_value = max(my_tuple)
min_value = min(my_tuple)
print("maximum value:",max_value)
print("minimum value:",min_value)

maximum value: 5
minimum value: 1

In [ ]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (1, 2, 3)

a, b, c =my_tuple
print(a)
print(b)
print(c)

1
2
3

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

my_set = {1, 2, 3}
print(2 in my_set)
print(4 in my_set)

{1, 2, 3, 4}
True
False

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {
    "name":"prava",
    "age":20,
    "city":"Hyd"
}
print(my_dict)

{'name': 'prava', 'age': 20, 'city': 'Hyd'}

In [ ]:
# Write a Python program to access a dictionary value using a key.
my_dict = {
    "name":"prava",
    "age":20,
    "city":"Hyd"
}
print(my_dict["name"])
print(my_dict.get("age"))

prava
20

In [63]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {'name':'prav','age': 30,'city':'hyd'}
key = input("enter a key:")
if key in my_dict:
    print(f"the key '{key}' exists in the dictionary with value '{my_dict[key]}'")
else:
  print(f"the key '{key}' does not exist in the dictionary")

enter a key:6
the key '6' does not exist in the dictionary

In [ ]:
# Write a Python program to merge two dictionaries.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict ={**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a Python program to remove a key from a dictionary.
my_dict = {"name":"pravalika", "age": 20, "city":"hyd"}
del my_dict["age"]
print(my_dict)

{'name': 'pravalika', 'city': 'hyd'}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {"name":"pravalika", "age": 20, "city":"hyd"}
num_keys = len(my_dict)
print("Number of keys in the dictionary:",num_keys)

Number of keys in the dictionary: 3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {"a":10, "b": 20, "c":30}
largest_value = max(my_dict.values())
print("Largest value:", largest_value)
smallest_value = min(my_dict.values())
print("smallest_value:",smallest_value)

Largest value: 30
smallest_value: 10

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.
def square(x):
  return x**2
print(square(4))
print(square(3))
print(square(2))

16
9
4

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.
def add(X, Y):
  return X + Y
print(add(3, 4))
print(add(2, 5))
print(add(10, 1))

7
7
11

In [ ]:
# Write a Python function to check if a given number is prime.
def is_prime(n):
    if n<=1:
       return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
         return False
    return True

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0:
         return 1
    else:
        return n * factorial(n-1)
print(factorial(5))
print(factorial(3))
print(factorial(1))

120
6
1

In [ ]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
    if exponent== 0:
       return 1
    else:
        return base * power(base, exponent-1)
print((power(2, 3)))
print((power(3, 4)))
print((power(4, 0)))

8
81
1

In [11]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_length(lst):
    count = 0
    for item in lst:
         count +=1
    return count
print(list_length([1, 2, 3, 4, 5]))
print(list_length(["a", "b", "c"]))

5
3

In [21]:

# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def my_function(*args, **kwargs):
    print("positional arguments:",args)
    print("keyboard arguments:",kwargs)
    print("sum of positional arguments:",
sum(args))
    my_function(1, 2, 3, 4, a=10, b=20)

In [66]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def find_max(a, b):
     return max(a, b)
print(find_max(a=3, b=5))

5

In [24]:
# Write a Python function that accepts a list of numbers and returns their product.
def  product(numbers):
     result = 1
     for num in numbers:
      result *=num
     return result

numbers = [1, 2, 3, 4, 5]
print(product(numbers))

120

In [29]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def check_even_odd(num):
  if num % 2 == 0:
      print(num, "is even")
  else:
      print(num,"is odd")

      check_even_odd(10)
      check_even_odd(7)

In [31]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [x**2 for x in range (1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [33]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["apple", "banana", "cat","dog"]
long_words = [word for word in words if len(word)>4]
print(long_words)

['apple', 'banana']

In [36]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
string = "Hello World, this is a TEST string."
uppercase_letters = [char for char in string if char.isupper()]
print(uppercase_letters)

['H', 'W', 'T', 'E', 'S', 'T']

In [72]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci(n):
    a, b = 0, 1
    result = []
    for i in range(n):
        result.append(a)
        a, b = b, a + b
    return result
print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [49]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
numbers = [1, 2, 3, 4, 5]
squares_dict = {x: x**2 for x in numbers}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [51]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]
my_dict = {k: v for k, v in zip(keys,values)}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [53]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
my_dict = {x: x**3 for x in range(1,6)}
print(my_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [54]:
# Write a Python program to square each element of a list using the map() function.
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [55]:
# Write a Python program to filter all even numbers from a list using the filter() function.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x : x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [57]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
divisible_by_3_and_5 = lambda x: x % 3 == 0 and x % 5 == 0
print(divisible_by_3_and_5(15))

True

In [58]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
numbers = [1, 2, 3, 4, 5]
doubles = list(map(lambda x:x * 2, numbers))
print(doubles)

[2, 4, 6, 8, 10]

In [59]:
# Write a Python program to remove all occurrences of a specific element from a list.
my_list = [1, 2, 3, 4, 2, 2, 5]
elements_to_remove = 2
new_list = [x for x in my_list if x != elements_to_remove]
print(new_list)

[1, 3, 4, 5]

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`